@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>Kenneth Lucero</h3>

<address>
    9845 W. Lilac Rd<br />
    Escondido, CA 92026<br />
    <abbr title="Phone">P:</abbr>
    (559) 895-2197
</address>

<address>
    <strong>Email:</strong> <a href="mailto:Kenneth@KennethLucero.com">Kenneth@KennethLucero.com</a><br />
    @*<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
</address>
