
@{
    ViewData["Title"] = "Algorithms";
}

<h2>Algorithms</h2>

<p>What are Algorithms?</p>

<p>Algorithms are a set of rules for solving a problem in a finite number of steps.</p>

<partial name="_AlgorithmSelector.cshtml">
